body {
    background-image:
        repeating-linear-gradient(to bottom, transparent, transparent 5px, #28487d 5px, #28487d 10px),
        repeating-linear-gradient(to right, #617ca2, #617ca2 5px, #28487d 5px, #28487d 10px);
    margin: 0;
}

.row {
    margin: 0;
}

.footer-copyright {
    color: #E6DF44;
    font-weight: 500;
}

.footer-copyright > p {
    margin: 0;
}

.main_content {
    background-color: #F0810F;
    display: inline-block;
    margin-left: 15%;
    width: 70%;
}

.logo {
    background-image: url("../../../dist/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 25vh;
}






