body {
    background-image:
        repeating-linear-gradient(to bottom, transparent, transparent 1%, #28487d 3%, #28487d 4%),          
        repeating-linear-gradient(to right, #617ca2, #617ca2 2%, #28487d 3%, #28487d 2%);    
    margin: 0;
}

.row {
    margin: 0;
}

.main_content {
    background-color: #F0810F;
    display: inline-block;
    margin-left: 15%;
    width: 70%;
    min-height: 100vh;
}

main {
    min-height: 72vh;
}

.footer-copyright {
    color: #E6DF44;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-copyright > p  {
    flex: 0 1 auto;
    margin: 0;
}
