.cartBtn, .shop_update {
    background-color: #063852;
    border-radius: 0.6em;
    color: #F0810F;
}

.cart {
    color: #063852;
    font-size: 2em;
}

.clear {
    color: #063852;
    font-size: 2.6em;
}

.clear:hover {
    color: #006400;
}

.shop_update {
    margin: 3% auto;
    width: 37%;
}

.total {
    color: #063852;
    display: inline-block;
}

table.rounded tr td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}    

table.rounded tr td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.cartAddBtn {
    margin-left: 8%;
}

.cartMinusBtn {
    margin-right: 8%;
}

.cartAddBtn, .cartMinusBtn, .cartQuantity {
    display: inline-block;
} 

@media only screen 
and (min-width : 100px)
and (max-width : 319px) {
    .table {
        padding: 0 !important;
    }

    .cartBtn {
        display: block;
        margin: auto;
    }

    .clear {
        font-size: 2em;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .cartAddBtn {
        width: 64%;
    }

    .shop_update {
        margin: 3% auto;
        width: 70%;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .table {
        padding: 0 !important;
    }

    .cartBtn {
        display: block;
        margin: auto;
    }

    .clear {
        font-size: 2em;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .cartAddBtn {
        width: 64%;
    }

    .shop_update {
        margin: 3% auto;
        width: 70%;
    }
}

/* Smartphones ----------- */
@media only screen 
and (min-width: 481px) 
and (max-width: 600px)
and (orientation : portrait) {
    .cartBtn {
        display: block;
        margin: auto;
    }

    .clear {
        font-size: 2em;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .cartAddBtn {
        width: 64%;
    }

    .shop_update {
        margin: 3% auto;
        width: 70%;
    }
}

@media only screen 
and (min-width: 481px) 
and (max-width: 600px)
and (orientation : landscape) {
    .clear {
        padding-top: 16vh;
        font-size: 2em;
    }

    .cartBtn {
        display: block;
        margin: auto;
    }

    .shop_update {
        width: 44%;
    }
}

/* Tablets, iPads (portrait) ----------- */
@media only screen 
and (min-width : 601px) 
and (max-width : 768px) 
and (orientation : portrait) {
    .clear {
        font-size: 2em;
        padding-top: 6vh;
    }

    .cartBtn {
        display: block;
        margin: auto;
    }

    .shop_update {
        margin: 3% auto;
        width: 44%;
    }
}

/* Tablets, iPads (landscape) ----------- */
@media only screen 
and (min-width : 601px) 
and (max-width : 768px) 
and (orientation: landscape) {
    .clear {
        padding-top: 12vh;
    }

    .cartBtn {
        display: block;
        margin: auto;
    }

    .shop_update {
        width: 41%;
    }
}

@media only screen
and (min-width: 769px) 
and (max-width: 1280px) {

}

/* @media only screen 
and (min-width: 1026px)
and (max-width: 1280px) {

} */

/* @media only screen
and (min-width: 1281px)  {

} */   