.cart, .clear {
    color: #063852;
    font-size: 2em;
}

.clear:hover {
    color: #006400;
}

.shop_update {
    margin-top: 3%;
}

.total {
    color: #063852;
    display: inline-block;
}

table.rounded th:last-child {
    border-top-right-radius: 6px;
}

table.rounded th:first-child {
    border-top-left-radius: 6px;
}

table.rounded tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

table.rounded tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.cartAddBtn {
    margin-left: 8%;
}

.cartMinusBtn {
    margin-right: 8%;
}

.inputButtons, .cartQuantity {
    display: inline-block;
} 

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    html {
        font-size: 0.8em;
    }

    .inputButtons {
        display: block;
    }

    .shop_update {
        margin-bottom: 4%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Tablets, iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* Tablets, iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}