.cart {
    color: #063852;
    font-size: 2em;
}

.clear {
    color: #063852;
    font-size: 2rem;
}

.clear:hover {
    color: #006400;
}

.shop_update {
    margin-top: 3%;
}

.total {
    color: #063852;
    display: inline-block;
}

table.rounded th:last-child {
    border-top-right-radius: 6px;
}

table.rounded th:first-child {
    border-top-left-radius: 6px;
}

table.rounded tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

table.rounded tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.cartAddBtn {
    margin-left: 8%;
}

.cartMinusBtn {
    margin-right: 8%;
}

@media only screen and (max-device-width: 480px) {
    html {
        font-size: 0.8em;
    }

    .cartTable {

    }
}