.status {
    background-image: url("../../../dist/logo_wo_text.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0;
    height: 70%;
    width: 54%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 61%;
    position: absolute;
}

.comment {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 23%);
    width: 30%;
    font-size: 2em;
    color: #F0810F;
    position: absolute;
}