.logo {
    background-image: url("../../../dist/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
    height: calc(29.51vh - 24.43px);
    width: calc(11.28vw + 5.94px);
}

.logo:hover {
    cursor: url("../../../dist/images/cursor.png"), auto;
}

@media only screen 
and (orientation: portrait) {
    .logo {
        height: calc(7.10vh + 107.27px);
        width: calc(6.27vw + 94.41px);
    }
}