.navButtons {
    background-color: #063852;
    border-radius: 6px;
    color: #F0810F;
    display: block;
    margin: 3% auto;
    width: 100%;
}

.iconButtons {
    background-color: #063852;
    color: #F0810F;
    font-size: 2em;
    margin-top: 21%;
    padding: 14%;
    sizes: 2em;
}