.navBar {
    display: inline-block;
    width: 15%;
}
.navButtons {
    background-color: #063852;
    border-radius: 6px;
    color: #F0810F;
    display: block;
    margin: 5% auto;
    width: 60%;
}

.iconButtons {
    background-color: #063852;
    color: #F0810F;
    font-size: 2em;
    margin-top: 21%;
    padding: 14%;
}

.pulse {
    background-color: #006400;
}