.carousel {
    min-height: 415px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .carousel {
        min-height: 66vh;
    }
}

@media only screen 
and (min-width: 481px) 
and (max-width: 600px) {
    .carousel {
        height: auto;
        max-height: auto;
    }
}

/* Tablets, iPads (portrait) ----------- */
@media only screen 
and (min-width : 601px) 
and (max-width : 768px) 
and (orientation : portrait) {
/* Styles */
}

/* Tablets, iPads (landscape) ----------- */
@media only screen 
and (min-width : 601px) 
and (max-width : 768px) 
and (orientation: landscape) {
/* Styles */
}

@media only screen
and (min-width: 1025px) 
and (max-width: 1280px) {

}

@media (min-width: 1281px) {

}
