.black {
    background-color: black;
}

.card {
    background-color: white;
    height: 93%;
}

.carousel .carousel-item {
    bottom: 31%;
    height: 80%;
}

.description {
    color: white;
}

input[type=number]:not(.browser-default) {
    background-color: #1543dc;
    height: 2rem;
    width: 20%;
}