.black, .blue, .green, .purple, .red {
    border-radius: 0.6em;
}

.black {
    background-color: black;
}

.blue {
    background-color: #1034A6;
}

.green {
    background-color: #0B6623;
}

.purple {
    background-color: #7851A9;
}

.red {
    background-color: #C21807;
}

.card {
    background-color: white;
    border-radius: 0.6em;
    display: inline-block;
    height: 95%;
    margin-left: 1%;
    width: 49%;
}

.prodImage {
    border-radius: 0.6em;
    height: 100%;
    width: 100%;
}

.carousel .carousel-item {
    height: 45vh;
    width: 60%;
}

.content {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 50%;
}

.name {
    color: white;
    font-size: 2em;
    margin: 11% 3% 0 3%;
}

.price {
    color: #063852;
    font-size: 2em;
    text-align: center;
}

.productInput {
    height: 29%;
    margin: auto;
    width: 70%;
}

.quantityField {
    height: 50%;
    width: 100%;
}

.inputButtons, .inputSubmit {
    background-color: #063852;
    border-radius: 0.6em;
    color: #F0810F;
}

.inputButtons {
    width: 28%;
}

.inputSubmit {
    margin-top: 1%;
    width: 100%;
}

.productQuantity {
    background-color: #F0810F;
    border-radius: 0.6em;
    color: #063852;
    display: inline-block;
    margin: 0 5%;
    padding: 1% 14%;
    line-height: 5vh;
}

.btn:hover {
    background-color: #006400;
}

.btn:focus {
    background-color: #063852;
}

@media only screen 
and (min-width : 100px)
and (max-width : 319px) {
    .carousel .carousel-item {
        height: 70vh;
        max-height: 253px;
        width: 70%;
    }    

    .content {
        height: 46%;
        width: 100%;
    }

    .card {   
        display: block;
        height: 47%;
        margin: 2% auto;
        width: 97%;
    }

    .name {
        font-size: 0.9em;
        margin-top: 0;
        text-align: center;
    }

    .price {
        font-size: 0.9em;
    }

    .productInput {
        height: 46%;
        width: 90%;
    }    

    .productQuantity {
        padding: 2% 11%;
        font-size: 0.3em;
    }

    .inputButtons {
        line-height: 0;
        padding: 0 2%;
        height: 4vmax;
        width: 29%;
        font-size: 0.7em;
    }

    .inputSubmit {
        font-size: 0.4em;
        height: 31%;
        line-height: 0;
        margin-top: 1%;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .carousel .carousel-item {
        height: 66vh;
        max-height: 367px;
        width: 70%;
    }    

    .content {
        height: 46%;
        width: 100%;
    }

    .card {
        display: block; 
        height: 47%;
        width: 97%;
    }

    .name {
        font-size: 1.3em;
        margin-top: 0;
        text-align: center;
    }

    .price {
        font-size: 1.3em;
    }

    .productInput {
        height: 47%;
        width: 90%;
    }

    .productQuantity {
        padding: 3% 13%;
    }
}

/* Smartphones ----------- */
@media only screen 
and (min-width: 481px) 
and (max-width: 600px) {
    .carousel .carousel-item {
        height: 54vh;
        max-height: 504px;
        width: 70%;
    }    

    .content {
        height: 46%;
        width: 98%;
    }

    .card {
        display: block; 
        height: 49%;
        width: 97%;
    }

    .name {
        font-size: 1.8em;
        margin-top: 7%;
        text-align: center;
    }

    .price {
        font-size: 1.8em;
    }

    .productInput {
        height: 44%;
        width: 90%;
    }

    .inputButtons {
        font-size: 2em;
        width: 29%;
        height: 71%;
    }

    .productQuantity {
        padding: 0% 13%;
    }
}

/* Tablets, iPads (portrait) ----------- */
@media only screen 
and (min-width : 601px) 
and (max-width : 768px) 
and (orientation : portrait) {
    .carousel .carousel-item {
        height: 62vh;
        width: 70%;
    }

    .content {
        height: 48%;
        width: 100%;
    }

    .card {
        display: block; 
        height: 49%;
        width: 97%;
    }

    .name {
        font-size: 2em;
        margin-top: 7%;
        text-align: center;
    }

    .price {
        font-size: 2em;
    }

    .productInput {
        height: 44%;
        width: 90%;
    }

    .productQuantity {
        font-size: 1.4em;
        padding: 1% 13%;
    }

    .inputButtons {
        font-size: 2em;
        width: 30%;
    }
}

/* Tablets, iPads (landscape) ----------- */
@media only screen 
and (min-width : 601px) 
and (max-width : 768px) 
and (orientation: landscape) {
    .carousel .carousel-item {
        height: 60vh;
        width: 80%;
    }

    .name {
        font-size: 1.7em;
    }

    .price {
        font-size: 1.7em;
    }

    .productInput {
        height: 42%;
        width: 87%;
    }

    .inputButtons { 
        width: 29%;
    }

    .productQuantity {
        padding: 5% 14%;
    }
}

@media only screen
and (min-width: 769px) 
and (max-width: 1280px) {
    .carousel .carousel-item {
        height: 45vh;
        width: 75%;
    }

    .productInput {
        width: 80%;
    }

    .inputButtons {
        width: 28%;
    }
}

/* @media only screen 
and (min-width: 1026px)
and (max-width: 1280px) {

} */

/* @media only screen
and (min-width: 1281px) {
    .carousel .carousel-item {
        height: 45vh;
        width: 75%;
    }

    .productInput {
        width: 80%;
    }

    .inputButtons {
        width: 29%;
    }
} */