.black {
    background-color: black;
    border-radius: 6px;
}

.blue {
    background-color: #1034A6;
    border-radius: 6px;
}

.green {
    background-color: #0B6623;
    border-radius: 6px;
}

.purple {
    background-color: #7851A9;
    border-radius: 6px;
}

.red {
    background-color: #C21807;
    border-radius: 6px;
}

.card {
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    height: 95%;
    margin-left: 1%;
    width: 49%;
}

.prodImage {
    border-radius: 6px;
    height: 100%;
    width: 100%;
}

.carousel .carousel-item {
    height: 45vh;
    width: 60%;
}

.content {
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 50%;
}

.name {
    color: white;
    font-size: 2em;
    margin: 14% 3% 0 3%;
}

.price {
    color: #063852;
    font-size: 2em;
    text-align: center;
}

.quantityField {
    display: flex;
}

.inputButtons {
    margin: 0px 3% 0 3%;
}

.inputButtons, .inputSubmit {
    background-color: #063852;
    border-radius: 6px;
    color: #F0810F;
}

.inputSubmit {
    margin: 1% auto 1% 26%;
    width: 49%;
}

.minusButton {
    margin-left: 26%;
}

.inputQuantity {
    color: #F0810F;
    height: 5%;
    width: 5%;
}

.productQuantity {
    background-color: #F0810F;
    border-radius: 6px;
    color: #063852;
    display: inline-block;
    padding: 2% 6%;
}

.btn:hover {
    background-color: #006400;
}

.btn:focus {
    background-color: #063852;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .carousel .carousel-item {
        min-height: 58vh;
        min-width: 70%;
        top: 2vh;
    }    

    .content {
        height: 46%;
        width: 98%;
    }

    .card {
        display: block; 
        height: 47%;
        width: 97%;
    }

    .name {
        font-size: 1.3em;
        margin-top: 7%;
        text-align: center;
    }

    .price {
        font-size: 1.3em;
    }

    .minusButton {
        margin-left: 22%;
    }

    .productQuantity {
        padding: 4% 6%;
    }

    .inputSubmit {
        margin: 1% 22% 1% 22%;
        width: 56%;
    }
}

/* Smartphones ----------- */
@media only screen 
and (min-width: 481px) 
and (max-width: 600px) {
    .carousel .carousel-item {
        min-height: 61vh;
        min-width: 70%;
        top: 9vh;
    }    

    .content {
        height: 46%;
        width: 98%;
    }

    .card {
        display: block; 
        height: 49%;
        width: 97%;
    }

    .name {
        font-size: 1.8em;
        margin-top: 7%;
        text-align: center;
    }

    .price {
        font-size: 1.8em;
    }

    .quantityField {
        font-size: 1.8em;
    }

    .minusButton {
        margin-left: 23%;
    }

    .productQuantity {
        width: 20%;
        padding: 0 7%;
    }

    .inputSubmit {
        margin: 1% 23% 1% 23%;
        width: 54%;
    }
}

/* Tablets, iPads (portrait) ----------- */
@media only screen 
and (min-width : 601px) 
and (max-width : 768px) 
and (orientation : portrait) {
    .carousel .carousel-item {
        min-height: 61vh;
        min-width: 70%;
        top: 0;
    }    

    .content {
        height: 46%;
        width: 98%;
    }

    .card {
        display: block; 
        height: 49%;
        width: 97%;
    }

    .name {
        font-size: 1.8em;
        margin-top: 7%;
        text-align: center;
    }

    .price {
        font-size: 1.8em;
    }

    .quantityField {
        font-size: 1.8em;
    }

    .minusButton {
        margin-left: 23%;
    }

    .productQuantity {
        width: 20%;
        padding: 0 7%;
    }

    .inputSubmit {
        margin: 1% 23% 1% 23%;
        width: 54%;
    }
}

/* Tablets, iPads (landscape) ----------- */
@media only screen 
and (min-width : 601px) 
and (max-width : 768px) 
and (orientation: landscape) {
/* Styles */
}



@media only screen
and (min-width: 1025px) 
and (max-width: 1280px) {

}

@media (min-width: 1281px) {

}